<div class="card my-5 mx-5" style="width: 17rem;">
  <img src="https://mediseva.online/img/default-product.jpg" class="card-img-top" alt="product">
  <div class="card-body">
    <h3 class="card-text mb-4"><%= res.title %></h3>
    <p class="card-text m-0 mb-1">Price : <%= res.price %>$ </p>
    <p class="card-text">Descreption : <%= res.descreption %> </p>
  </div>
</div>