

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Product title">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" name="price" id="price" placeholder="Price">
  </div>

  <div class="form-group">
    <label for="descreption">Descreption</label>
    <textarea class="form-control" name="descreption" id="descreption" placeholder="Descreption"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Save Product</button>
